@page "/"
@using System.Net
@inject NavigationManager NavigationManager
@inject IAuthService AuthService
@inject AuthStateProvider AuthStateProvider
@inject IJSRuntime js


<h1>Sign In</h1>


@* <form>
    <EditForm Model="creds" OnValidSubmit="Login">
    <div class="col-3">
        <label for="username">Username</label>
        <input type="text" class="form-control  mb-2" id="username" placeholder ="User Name" @bind="creds.UserName"/>
    </div>
    <div class="col-3 ">
        <label for="password">Password</label>
        <input type="password" class="form-control  mb-4" id="password" placeholder="Password" @bind="creds.Password"/>
    </div>
    <button type="submit" class="btn btn-primary btn-block" @onclick="Login">Sign In</button>
    </EditForm>
</form> *@

<MudGrid>
    <MudItem xs="12" sm="7">
        <EditForm Model="creds">
        <MudPaper Class="pa-4">
            <MudForm @ref="form">
                <MudTextField T="string" Label="User Name" Required="true" RequiredError="User Name is required!" @bind-Value="creds.UserName"/>
                <MudTextField T="string" Label="Password" HelperTextOnFocus="true" HelperText="Enter Active Directory Password" Required="true" RequiredError="Password is required!" InputType="InputType.Password" @bind-Value="creds.Password"/>
            </MudForm>
        </MudPaper>
        <MudPaper Class="pa-4 mt-4">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="Login">Login</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" DisableElevation="true" Class="mx-2" OnClick="@(() => form.ResetAsync())">Reset</MudButton>
        </MudPaper>
        </EditForm>
    </MudItem>
</MudGrid>

@code {
    private string? errorMessage;
    UserDto creds = new UserDto();
    MudForm form;


    private async Task Login()
    {

        try
        {
            if(!string.IsNullOrEmpty(creds.UserName) && !string.IsNullOrEmpty(creds.Password))
            {

                var response = await AuthService.Login(creds);
               

                if(response.IsSuccessStatusCode)
                {
                    var userSession = await response.Content.ReadFromJsonAsync<UserSession>();
                    //await AuthStateProvider.GetAuthenticationStateAsync();
                    await AuthStateProvider.UpdateAuthenticationState(userSession);
                    NavigationManager.NavigateTo("/home", true);
                }
                else if(response.StatusCode == HttpStatusCode.Unauthorized)
                {
                    errorMessage = "Invalid Credentials";
                    await js.InvokeVoidAsync("alert" + errorMessage);
                } 

            }
            else
            {
                errorMessage = ("Please enter your username or password correctly");
            }
        }
        catch(Exception ex)
        {
            errorMessage = ex.Message;
        }
       
        
    }

}

