@inject ISessionStorageService SessionStorage
@inject AuthStateProvider AuthState
@inject NavigationManager Nav



<AuthorizeView>
    <Authorized>
        <button @onclick ="SignOut" class="btn btn-danger">Sign Out</button>
</Authorized>
</AuthorizeView>




@code {
    async Task SignOut()
    {

        var state = (AuthenticationStateProvider)AuthState;
        await AuthState.UpdateAuthenticationState(null);
        // await SessionStorage.RemoveItemAsync("token");
        // await AuthState.GetAuthenticationStateAsync();
        Nav.NavigateTo("/", true);
    }
}
